body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

#about {
  padding: 2em;
}

.about-container {
  margin-bottom: 20px;
}

.about-container h2 {
  margin-top: 0;
}

.about-container p {
  margin-bottom: 10px;
}

.about-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-container li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}
