body{
    background: lightblue;
}
#login-form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input{
    border-radius: 4px;
    opacity:50%;
    
}
button{
    width: 30%;
    height: 7%;
    background: green;
    border-radius: 5px;
}
